<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footer.css">
    <title>Document</title>
</head>

<body>

    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="heading">Get to know us</h4>
                    <ul class="list-unstyled">
                        <li>About us</li>
                        <li>FAQ</li>
                        <li>Copyright</li>

                    </ul>
                </div>
                <div class="col">
                    <h4 class="heading"> Contact us</h4>
                    <ul class="list-unstyled">
                        <li>7976989699 , 7354363981</li>
                        <li>Rajasthan , India</li>
                        <li>Yaha par address likh denge apan</li>
                    </ul>
                </div>
                <div class="col">
                    <h4 class="heading">Connect with us</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.linkedin.com/in/chaitanya-khurana-4b24991bb/" target="blank">
                    LinkedIn
                  </a>{" "} &nbsp;
                        </li>
                        <li>
                            <a href="https://www.instagram.com/chaitanya_khurana/" target="blank">
                    Instagram
                  </a>{" "} &nbsp;
                        </li>
                        <li>
                            <a href="https://www.instagram.com/chaitanya_khurana/" target="blank">
                    Facebook
                  </a>{" "} &nbsp;
                        </li>
                    </ul>
                </div>

            </div>
            <hr />
            <div class="row">
                <p class=" col-sm">
                    &copy;{new Date().getFullYear()} Website 1 INC | All rights reserved |
                    <Link to='/terms'>Terms of Service</Link> |
                    <Link to='/policy'>Privacy Policy</Link>
                </p>

            </div>
        </div>
    </div>

</body>

</html>